.aboutus
    .container
        h1.text-center A LITTLE ABOUT US
        p.yy.text-center OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.
        p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.

        p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        .row.mang
            .col-lg-6.do
        
                .fl
                    img.img-fluid(src="imgs/team01.jpg" width="70px" height="20px")
                    .xx
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        p.ma  -Manager at Company
            .col-lg-6.do
                .fl
                    img.img-fluid(src="imgs/team01.jpg" width="70px" height="20px")
                    .xx
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        p.ma -Manager at Company
            .col-lg-6.do

                .fl
                    img.img-fluid(src="imgs/team01.jpg" width="70px" height="20px")
                    .xx
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        p.ma  -Manager at Company
            .col-lg-6.do
                .fl
                    img.img-fluid(src="imgs/team01.jpg" width="70px" height="20px")
                    .xx
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        p.ma  -Manager at Company
        .team
            h1 meet the team
            p OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.
            .row
                .col-lg-3.col-md-6.col-6
                    .mem
                        img.img-fluid(src="imgs/team01.jpg")
                        h4.text-center DANIEL JONES
                        h6.text-center WEB DESIGN
                        p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
                        ul.list-unstyled.text-center
                            li.one
                                a(href="")
                                    i.fab.fa-facebook
                            li.one1 
                                a(href="")
                                    i.fab.fa-google-plus
                            li.one2
                                a(href="")
                                    i.fab.fa-twitter
                            li.one3
                                a(href="")
                                    i.fab.fa-linkedin
                .col-lg-3.col-md-6.col-6
                    .mem
                        img.img-fluid(src="imgs/team02.jpg")
                        h4.text-center DANIEL JONES
                        h6.text-center WEB DESIGN
                        p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
                        ul.list-unstyled
                            li.one 
                                a(href="")
                                    i.fab.fa-facebook
                            li.one1
                                a(href="")
                                    i.fab.fa-google-plus
                            li.one2 
                                a(href="")
                                    i.fab.fa-twitter
                            li.one3 
                                a(href="")
                                    i.fab.fa-linkedin
                .col-lg-3.col-md-6.col-6
                    .mem
                        img.img-fluid(src="imgs/team03.jpg")
                        h4.text-center DANIEL JONES
                        h6.text-center WEB DESIGN
                        p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
                        ul.list-unstyled
                            li.one 
                                a(href="")
                                    i.fab.fa-facebook
                            li.one1 
                                a(href="")
                                    i.fab.fa-google-plus
                            li.one2 
                                a(href="")
                                    i.fab.fa-twitter
                            li.one3 
                                a(href="")
                                    i.fab.fa-linkedin
                .col-lg-3.col-md-6.col-6
                    .mem
                        img.img-fluid(src="imgs/team04.jpg")
                        h4.text-center DANIEL JONES
                        h6.text-center WEB DESIGN
                        p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
                        ul.list-unstyled
                            li.one 
                                a(href="")
                                    i.fab.fa-facebook
                            li.one1
                                a(href="")
                                    i.fab.fa-google-plus
                            li.one2
                                a(href="")
                                    i.fab.fa-twitter
                            li.one3 
                                a(href="")
                                    i.fab.fa-linkedin
.hours
    .carousel.slide#carouselExampleCaptions(data-bs-ride="carousel")
            .carousel-indicators
                button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3") 
            .carousel-inner
                .carousel-item.active.fr
                    
                            
                    .overlay
                    
                    .carousel-caption.d-md-block
                    
                        .container
                            .row
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.far.fa-clock
                                        h1 246000
                                        h4 HOURS SAVED
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-lightbulb
                                        h1 16875
                                        h4 FRESH IDEAS
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-project-diagram
                                        h1 99999999
                                        h4 HUGE PROFIT
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-box
                                        h1 54875
                                        h4 THINGS IN BOXES
                                
                        
    
                .carousel-item.sec
                    .overlay
                    
                    
                    .carousel-caption.d-md-block
                        .container
                            .row
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.far.fa-clock
                                        h1 246000
                                        h4 HOURS SAVED
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-lightbulb
                                        h1 16875
                                        h4 FRESH IDEAS
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-project-diagram
                                        h1 99999999
                                        h4 HUGE PROFIT
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-box
                                        h1 54875
                                        h4 THINGS IN BOXES
                    
                .carousel-item.thr
                    .overlay
                    
                    .carousel-caption.d-md-block
                        .container
                            .row
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.far.fa-clock
                                        h1 246000
                                        h4 HOURS SAVED
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-lightbulb
                                        h1 16875
                                        h4 FRESH IDEAS
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-project-diagram
                                        h1 99999999
                                        h4 HUGE PROFIT
                                .col-lg-3.col-6.ss
                                    .par1
                                        i.fas.fa-box
                                        h1 54875
                                        h4 THINGS IN BOXES
                        
                            
                    
                            
                    
            .carousel-control-prev( type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            .carousel-control-next(type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden next
