.blog
    .container
        h1.text-center FROM THE BLOG
        p.text-center OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE
        .row
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio02.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author |
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more

            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio06.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author |
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio11.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author |
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
        .row
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio02.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author |
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more

            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio06.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author |
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting indust0ry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio11.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author |
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
