.blog
    .container
        h1.text-center FROM THE BLOG
        p.text-center OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE
        .row
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio02.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author &nbsp; | &nbsp;
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more

            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio06.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author &nbsp; | &nbsp;
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio11.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author &nbsp; | &nbsp;
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
        .row
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio02.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author &nbsp; | &nbsp;
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more

            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio06.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author &nbsp; | &nbsp;
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting indust0ry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
            .col-lg-4
                .post
                    img.img-fluid(src="imgs/folio11.jpg")
                    h5 POST TITLE
                    p 
                        i.fas.fa-user by  author &nbsp; | &nbsp;
                        i.fas.fa-clock  APRIL 11TH, 2014
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    button
                        a read more
.much
    .container 
        h1.text-center SO, HOW MUCH?
        p.p5.text-center OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.
        .row
            .col-lg-3.col-6
                .bl
                    h4 basic
                    .tt $10
                        p month
                    ul.list-unstyled
                        li 5GB Storage
                        li 1GB RAM
                        li 400GB Bandwidth
                        li 10 Email Address
                        li Forum Support
                    button 
                        a sign up
            .col-lg-3.col-6
                .st
                    h4 basic
                    .tt $10
                        p month
                    ul.list-unstyled
                        li 5GB Storage
                        li 1GB RAM
                        li 400GB Bandwidth
                        li 10 Email Address
                        li Forum Support
                    button 
                        a sign up
            .col-lg-3.col-6
                .bl
                    h4 Advanced
                    .tt $40
                        p month
                    ul.list-unstyled
                        li 5GB Storage
                        li 1GB RAM
                        li 400GB Bandwidth
                        li 10 Email Address
                        li Forum Support
                    button 
                        a sign up
            .col-lg-3.col-6
                .bl
                    h4 Mighty
                    .tt $100
                        p month
                    ul.list-unstyled
                        li 5GB Storage
                        li 1GB RAM
                        li 400GB Bandwidth
                        li 10 Email Address
                        li Forum Support
                    button 
                        a sign up
