.footer
    .container
        .row
            .col-lg-3.ma.col-md-6
                h4  Global Coverage
                p Was drawing natural fat respect husband. An as noisy an offer drawn blush place. These tried for way joy wrote witty. In mr began music weeks after at begin.
            .col-lg-3.col-md-6
                h4 company
                ul.list-unstyled
                    li
                        a(href="")
                            i.fas.fa-chevron-right
                            | Company Overview
                    li
                        a(href="")
                            i.fas.fa-chevron-right
                            |  Meet The Team
                    li
                        a(href="")
                            i.fas.fa-chevron-right
                            |  Awesome Partners
                    li
                        a(href="")
                            i.fas.fa-chevron-right
                            |  Our Services
                


            .col-lg-3.col-md-6
                h4 Latest articles
                .fl
                    img.img-fluid(src="imgs/folio01.jpg" width="60px" height="30px")
                    .kl
                        a(href="") Blog Post A
                        p Posted 14 April 2014
                .fl
                    img.img-fluid(src="imgs/folio02.jpg" width="60px" height="30px")
                    .kl
                        a(href="") Blog Post A
                        p Posted 14 April 2014


            .col-lg-3.col-md-6
                h4 Come see us 
                ul.list-unstyled
                    li Ace Towers
                    li New York Ave,
                    li New York, 215648
                    li
                        i.fas.fa-phone
                        | 546 840654 05 
    
    .copy 
        
            p © 2019 Your Site Name. All Rights Reserved. Bootstrap templates by TemplateMag.
            .butt 
                a(href="#")
                    i.fas.fa-chevron-up
    


