.sp
    .spin
.header.zz
    .navbar
        .container
            .logo
                a
                    i.fas.fa-bolt
                    |impact  
            ul.list-unstyled
                li Home
                li About Us
                li Services
                li Portfoilo
                li Blog
                li Contact
                li page
                li
                    i.fas.fa-search
            .iu
                i.fas.fa-bars
    .carousel.slide.carousel-fade#carouselExampleInterval(data-bs-ride="carousel")
        
        .carousel-inner
                .carousel-item.active.fr(data-bs-interval="4000")
                    
                            
                    
                    .overlay
                    .carousel-caption.d-md-block
                        .par
                            .rmz1.text-center
                                i.fas.fa-bolt.wow.bounceIn

                            
                            h1.wow.fadeInDown WE GONNA HELP YOU MAKE AN IMPACT
                            p.wow.fadeInUp OUR EXPERTISE WILL GUIDE YOU TO SUCCESS. WITHOUT FAIL.
                            a.wow.bounceIn learn more
                        
    
                .carousel-item.sec(data-bs-interval="4000")
                    
                    
                    .overlay
                    .carousel-caption.d-md-block
                        .par
                            .rmz1.text-center
                                i.fas.fa-bolt.wow.bounceIn

                            
                            h1.wow.fadeInDown  WE GONNA HELP YOU MAKE AN IMPACT
                            p.wow.fadeInUp OUR EXPERTISE WILL GUIDE YOU TO SUCCESS. WITHOUT FAIL.
                            a.wow.bounceIn learn more
                    
                .carousel-item.thr(data-bs-interval="4000")
                    .overlay
                    .carousel-caption.d-md-block
                        .par
                            .rmz1.text-center
                                i.fas.fa-bolt.wow.bounceIn

                            
                            h1.wow.fadeInDown  WE GONNA HELP YOU MAKE AN IMPACT
                            p.wow.fadeInUp OUR EXPERTISE WILL GUIDE YOU TO SUCCESS. WITHOUT FAIL.
                            a.wow.bounceIn learn more
                            
                    
                            
                    
        .carousel-control-prev( type="button" data-bs-target="#carouselFadeExampleIndicators" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
        .carousel-control-next(type="button" data-bs-target="##carouselFadeExampleIndicators" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden next
    
    

