.aboutus{
    position: relative;
    background-color: #f8f8f8;
    padding-top: 100px;
    padding-bottom: 60px;
    .yy{
   padding-bottom: 40px;
    }
    h1{
        position: relative;
        margin-bottom: 30px;
        &:after{
           
          
            position: absolute;
            content: '';
            top: 160px;
            left: 0;
            right: 0;
            margin-right: auto;
            width: 25%;
            margin-left: auto;
            border-bottom: 1px solid #e7e7e7;

        }
    }
    .mang{
       @media (min-width: 992px)
       {
.col-lg-6 {
    flex: 0 0 auto;
    width: 45%;
    margin-right: 40px;
}
       }
    margin-right: 40px;
        margin-top: 100px;

    .fl{
      
        display: flex;
        img{
         //   margin-top: 20px;
            margin-right: 20px;
            //margin-bottom: 60px;
           // padding-left: 5px;
        }
        .ma{
            color: #777;
            font-size: 15px;
        }
     
    

           
        }
        .do{
            padding: 10px;
             padding-bottom: 20px;
            margin-bottom: 40px;
            background-color: #fff;
            border-left: 5px solid #eee;
            &:hover {
                border-left: 5px solid #01b29e ;
                

        }
    }

    }
    .team{
        position: relative;
        
       padding-bottom: 100px;
        .mem{
            h4{
                padding-top: 10px;
            }
            margin-bottom: 40px;
            border-bottom: 5px solid #eee;
            background-color: #fff;
            text-align: center;
            &:hover{
                border-bottom: 5px solid #01b29e;
            }
            img{
                &:hover{
                    opacity: .2;
                }
            }
            ul{
                padding-bottom: 10px;
                li{
                    display: inline-block;
                    margin-left: 10px;
                    width: 35px;
                    height: 35px;
                   
                    padding: 5px;
                    font-size: 20px;


                }
                .one{
                    border: 2px solid #4f7dd4;
                    i{
                    color: #4f7dd4
                    ;}
                    &:hover{
                        background-color:#4f7dd4 ;
                        color: #fff;
                    }
                    &:hover i{
                        color: #fff;
                    }

                }
                .one1{
                    border:2px solid #dc422b;
                    i{
                    color: #dc422b
                    ;
                    }
                    &:hover{
                        background-color:#dc422b ;
                        color: #fff;
                    }
                    &:hover i{
                        color: #fff;
                    }

                }
                .one2{
                    border:2px solid #5bceff;
                    i{
                    color: #5bceff
                    ;
                    }
                    &:hover{
                        background-color:#5bceff ;
                        color: #fff;
                    }
                    &:hover i{
                        color: #fff;
                    }

                }
                .one3{
                    border:2px solid #21a6d8;
                    i{
                    color: #21a6d8
                    ;
                    }
                    &:hover{
                        background-color: #21a6d8 ;
                       
                    }
                    &:hover i{
                        color: #fff;
                    }

                }

                
            }
        }
    }
    
}
.hours{
    position: relative;
    background-color: #fff;
    @media(max-width:550px)
    {
        .fr,.sec,.thr{
            padding-bottom: 950px;
            padding-top: 50px;
           
        }
        .par1
        {
            h1,h4,i{
            font-size: 18px !important; 
        }
    }
      
    }
    .carousel-indicators{
        display: none;
    }
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
    .overlay{
        position: absolute;
        background-color: rgba(0,0,0,.8);
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
    }
    .carousel-caption{
        top:100px;
    }
    .fr{
        background: url('../imgs/bg1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 370px;
        background-position: center;
      text-align: center;
      justify-content: center;
        
         
    }
    .sec{
       
        background: url('../imgs/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 370px;
        background-position: center;
    }
    .thr{
      
        background: url('../imgs/bg3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 370px;

    }
    .ss{
      //
        padding-top: 0px;
        margin-bottom: 30px;
        h1,i{
            font-size: 25px;
        }
        h4{
            font-size: 20px;
        }
    }
    .carousel-inner{
        overflow: visible;
    }
    i{
        font-size: 30px;
        padding-bottom: 15px;
    }
}
.ex{
    position: relative;
    padding-bottom: 80px;
    background-color: #fff;
    
    .row{
        margin-bottom: 20px;
    }
    padding-top: 60px;
   .ppp{
        margin-bottom: 40px;
    }
    h1{
        position: relative;
        margin-bottom: 30px;
        &:after{
           
          
            position: absolute;
            content: '';
            top:160px;
            left: 0;
            right: 0;
            margin-right: auto;
            width: 25%;
            margin-left: auto;
            border-bottom: 1px solid #e7e7e7;

        }
    }
    ul{
        margin-bottom: 60px;
        li:first-of-type{
            a{
            background-color: #01b29e;
            color: #fff;
            &:hover{
                border: 2px solid #000;
            }
            }
        }
       
        li{
            display: inline-block;
            margin-right:10px;
          
            
            a{
                width: 40px;
                height: 40px;
                padding: 10px 20px;
            
                color: #01b29e;
                text-decoration: none;
               
                border: 2px solid #01b29e;
                &:hover{
                    background-color: #01b29e;
                    color: #fff;
                }

            }

        }
    }
    .por{
        p{
            margin-left: 10px;
        }
        margin-bottom: 10px;
        border-bottom: 5px solid #eee;
            background-color: #fff;
            
            &:hover{
                border-bottom: 5px solid #01b29e;
            }
            img{
                &:hover{
                    opacity: .2;
                }

    }
}
}
.say{
    position: relative;
    padding-bottom: 100px;
    h1,.p7{
        position: relative
        ;
        color: #fff;
        
        
    }
    
    h1{
        padding-top: 100px;
        
        
        &:after{
           
          
            position: absolute;
            content: '';
            top:150px;
            left: 0;
            right: 0;
            margin-right: auto;
            width: 27%;
            margin-left: auto;
            border-bottom: 1px solid #e7e7e7;

        }

    }
    .p7{
        
        padding-top: 20px;
    }
    background: url('../imgs/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
    
    background-position: center;
  text-align: center;
  justify-content: center;
    .fl{
       
        @media(max-width:500px)
        {
            display: block;
        }
        z-index: 9999;
       display: flex;
       img{
           display: block;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
           margin-right: 80px;
           justify-content: center;
           image-rendering: pixelated;
       }
        .xxo{
          
            p{
                
                text-align: left;
                color: #616161;
            }
            p:first-of-type{
                color: #f5f5f5;
            }
        }
    }
    
      
      
        
         
    
 
    .overlay{
        position: absolute;
        background-color: rgba(0,0,0,.8);
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
    }
    
    .carousel-indicators{
        .active{
            background-color: silver;
        }
        button{
            border-radius: 11px;
            border: none;
            margin: 2px;
            background-color: transparent;
            border: 1px solid gray;
        }
        width: 18px;
        height: 18px;
       
        margin: 10px !important;
        text-align: center;
        margin: 0 auto !important;
    }
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
    .jj{
        background: transparent;
        padding-bottom: 200px;
        @media(max-width:500px)
        {
          padding-top: 250px;
        }
       
    }
    .img-fluid1{
        max-width: 100%;
        height: 100px;
    }
}